<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="o8.xamarin.pinning_demo">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="PinningAppDemo" android:networkSecurityConfig="@xml/network_security_config"></application>
</manifest>